<div class="month">
<div class="left" ng-click="previous()"><</div>
{{month.format("MMMM YYYY")}}
<div class="right" ng-click="next()">></div>
</div>
<div class="week names">
    <div class="day weekday" ng-repeat="day in days">{{day}}</div>
</div>
<div class="week" ng-repeat="week in weeks">
    <div class="day number" ng-class="{'different-month': !day.isCurrentMonth, 'today': day.isToday}" ng-repeat="day in week.days" ng-click="showDay(day)">{{day.number}}
        <div class="event-list" ng-repeat="event in day.events">{{event.name}} {{event.start}}</div>
    </div>
</div>

<div ng-show="dayShown" class="day-modal">
    <div class="day-modal-overlay" ng-click="hideDay()"></div>
    <div class="day-info">
        <strong>{{daySelected.date.format("MMMM DD, YYYY")}}</strong>
        <form>
            <label> Event Name:</label> <input type="text" ng-model="event.name"/><br />
            <label> Event Description:</label> <input type="text" ng-model="event.description"/><br/>
            <label> Start Time:</label> <input type="text" ng-model="event.start"/><br />
            <label> End Time:</label> <input type="text" ng-model="event.end"/> <br/>
            <label><input type="submit" ng-click="updateDay(event)" value="Add Event" />  </label>
        </form>
        <div class="list-events">
            <div class="list-item" ng-repeat="event in daySelected.events track by $index">
                Event Name: {{event.name}} <br/>
                Event Description: {{event.description}}<br/>
                Start Time: {{event.start}}<br/>
                End Time: {{event.end}}<br/>
            </div>
        </div>
    </div>
</div>