<div class="month">
<div class="left" ng-click="previous()"><</div>
{{month.format("MMMM, YYYY")}}
<div class="right" ng-click="next()">></div>
</div>
<div class="week names">
    <div class="day weekday" ng-repeat="day in days">{{day}}</div>
</div>
<div class="week" ng-repeat="week in weeks">
    <div class="day number" ng-class="{'different-month': !day.isCurrentMonth, 'today': day.isToday}" ng-repeat="day in week.days" ng-click="showDay()">{{day.number}}</div>
</div>