<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="calendarApp" ng-controller="CalendarController">
    <script src="angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>