<!DOCTYPE html>
<html lang="en" ng-app="calendarApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body ng-controller="CalendarController as calendar">
    <div>{{calendar.title}}</div>
    <!-- View different for Day, Month, Year -->
    <div class="toggle-state">
        <a ui-sref="month" role="button" class="btn btn-primary btn-large">Month</a>
        <a ui-sref="day" role="button" class="btn btn-primary btn-large">Day</a>
        <a ui-sref="year" class="btn btn-primary btn-large">Year</a>
    </div>
    <div ui-view></div>
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="moment/moment.js"></script>
    <script src="app/app.js"></script>
    <script src="app/config.js"></script>
</body>
</html>