html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.toggle-state {
  margin-top: 20px;
  text-align: center; }

.month {
  margin-top: 20px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  background-color: blue;
  color: white;
  height: 50px;
  font-size: 2em;
  border: 2px solid black;
  display: inline-block; }

.left, .right {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  background-color: black;
  margin-right: 10%;
  display: inline-block; }

.right {
  margin-right: 0;
  display: inline-block;
  margin-left: 10%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.left:hover, .right:hover, .right:hover {
  background-color: rgba(255, 0, 0, 0.9);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.week {
  height: 100px;
  width: 100%;
  text-align: center; }
  .week:first-child.day {
    background: black; }

.names {
  height: 20%;
  text-align: center; }

.day {
  width: 10%;
  height: 100%;
  padding: 3px;
  display: inline-block;
  background: red;
  border-left: 2px solid black;
  text-align: right;
  overflow: scroll;
  border-bottom: 2px solid black; }
  .day:last-child {
    border-right: 2px solid black; }

.weekday {
  background: black;
  color: white;
  text-align: center;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white; }
  .weekday:first-child {
    border-left: none; }

.different-month {
  background: rgba(255, 255, 255, 0.8); }

.today {
  background: #ff6464; }

.number:hover {
  background-color: rgba(255, 0, 0, 0.7); }

.day-modal-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeoverlay 0.5s;
  -webkit-animation: fadeoverlay 0.5s; }

@-webkit-keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
@-moz-keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
@-o-keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
@keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
.day-info {
  z-index: 2;
  position: absolute;
  padding: 10px;
  width: 45%;
  height: 20em;
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 25px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  box-shadow: 4px 4px 80px #000; }

.event-list {
  position: relative;
  text-align: left;
  top: 0;
  left: 0;
  padding-bottom: 2px; }

label {
  display: inline-block;
  text-align: right;
  width: 200px;
  font-size: 16px; }

.list-item {
  font-size: 15px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black; }
  .list-item:last-child {
    border-bottom: 2px solid black; }

@media (max-width: 420px) {
  .month {
    padding-top: 15px;
    font-size: 15px; }

  .left, .right {
    height: 20px;
    width: 20px; }

  .right {
    height: 20px;
    width: 20px; }

  .week {
    height: 35px; }

  .event-list {
    height: 100%; }

  .day-info {
    width: 70%; } }

/*# sourceMappingURL=main.css.map */
