@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.month {
    margin-top: 20px;
    padding-top: 2px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    box-sizing: border-box;
    background-color: blue;
    color: white;
    height: 50px;
    font-size: 2em;
    border: 2px solid black;
    display: inline-block;
}
.left {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: black;
    margin-right: 10%;
    display: inline-block;
}
.right {
    @extend .left;
    margin-right: 0;
    display: inline-block;
    margin-left: 10%;
    @include transition(all .5s ease-out);
}
.left:hover, .right:hover {
    background-color: rgba(255, 0, 0, 0.9);
    @include transition(all .5s ease-out);
}

.week {
    height: 100px;
    width: 100%;
    text-align: center;
    &:first-child.day {
        background:black;
    }
}
.names {
    height: 20%;
    text-align: center;
}
.day {
    width: 10%;
    height: 100%;
    padding: 3px;
    display: inline-block;
    background: red;
    border-left: 2px solid black;
    text-align: right;
    border-bottom: 2px solid black;
    &:last-child {
        border-right: 2px solid black;
    }
}
.weekday {
    background: black;
    color: white;
    text-align: center;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    &:first-child {
        border-left: none;
    }
}
.different-month {
    background: rgba(255,255,255, 0.8);
}
.today {
    background: rgba(255,100,100, 1);
}
.number:hover {
    background-color: rgba(255,0,0, 0.7);
}

@media (max-width: 420px){
    .month {
        padding-top: 15px;
        font-size: 15px;
    }
    .left {
        height: 20px;
        width: 20px;
    }
    .right {
        height: 20px;
        width: 20px;
    }
    .week {
        height: 100%;
    }
}
